<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <a href="/account/logIn" class="btn btn-default"> <h5>Log in >> </h5></a>
        <a href="/account/signUp" class="btn btn-default"> <h5>Create Account >></h5></a>
        <br />
        <input type="text" id="url" class="form-control" placeholder="url" />
        <br />
        <button class="btn btn-info " id="submit">Shorten</button>
    </div>
</div>

@section Scripts {
    <script src="~/js/Index.js"></script>
}